<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<b>Objectives: </b>
<ul>
<li>List popular languages for Data Science</li>
<li>Some of the commonly used libraries used by Data Scientists include:</li>
<li>Examples of evaluating arithmetic expressions in Python</li>
</ul>

<h2>Author</h2> 
<p>Namita Nair</p>

<p>Some of the popular languages that Data Scientists use are:</p>

<ul> <li>Python</li> <li>R</li> <li>SQL</li> </ul>

<p>Some of the commonly used libraries used by Data Scientists include:</p>

<ul> <li>NumPy</li> <li>SciPy</li>  <li>BeautifulSoup</li></ul>

<table>
  <tr>
    <th>Data Science Tools</th>
    
  </tr>
  <tr>
    <td>  </td>
   
  </tr> </table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [9]:
(3*4)+5  #This a simple arithmetic expression to mutiply then add integers

17

In [18]:
total_minutes = 200

#This will convert 200 minutes to hours by diving by 60.
hours = total_minutes // 60

print(hours);

3